In [2]:
import sys
import os
sys.path.append(os.path.abspath('../scripts'))

import pandas as pd 
from utils import * 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load Data
file_path = '../data/MachineLearningRating_v3.txt'
# Read the file with low_memory=False
df = pd.read_csv(file_path, delimiter='|', low_memory=False)
pd.set_option('display.max_columns', None)

In [4]:
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,MaritalStatus,Gender,Country,Province,PostalCode,MainCrestaZone,SubCrestaZone,ItemType,mmcode,VehicleType,RegistrationYear,make,Model,Cylinders,cubiccapacity,kilowatts,bodytype,NumberOfDoors,VehicleIntroDate,CustomValueEstimate,AlarmImmobiliser,TrackingDevice,CapitalOutstanding,NewVehicle,WrittenOff,Rebuilt,Converted,CrossBorder,NumberOfVehiclesInFleet,SumInsured,TermFrequency,CalculatedPremiumPerTerm,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,44069150.0,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,4.0,6/2002,119300.0,Yes,No,119300,More than 6 months,NaN,NaN,NaN,NaN,NaN,0.01,Monthly,25.0000,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,44069150.0,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,4.0,6/2002,119300.0,Yes,No,119300,More than 6 months,NaN,NaN,NaN,NaN,NaN,0.01,Monthly,25.0000,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,44069150.0,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,4.0,6/2002,119300.0,Yes,No,119300,More than 6 months,NaN,NaN,NaN,NaN,NaN,0.01,Monthly,25.0000,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,44069150.0,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,4.0,6/2002,119300.0,Yes,No,119300,More than 6 months,NaN,NaN,NaN,NaN,NaN,119300.00,Monthly,584.6468,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,44069150.0,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,4.0,6/2002,119300.0,Yes,No,119300,More than 6 months,NaN,NaN,NaN,NaN,NaN,119300.00,Monthly,584.6468,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [6]:
df.shape

(1000098, 52)

In [7]:
missing_values_table(df)

Your selected dataframe has 52 columns.
There are 22 columns that have missing values.

,Missing Values,% of Total Values,Dtype,Values,Unique Values
NumberOfVehiclesInFleet,1000098,100.0,float64,0,0
CrossBorder,999400,99.9,object,698,1
CustomValueEstimate,779642,78.0,float64,220456,923
WrittenOff,641901,64.2,object,358197,2
Converted,641901,64.2,object,358197,2
Rebuilt,641901,64.2,object,358197,2
NewVehicle,153295,15.3,object,846803,2
Bank,145961,14.6,object,854137,11
AccountType,40232,4.0,object,959866,3
Gender,9536,1.0,object,990562,3
MaritalStatus,8259,0.8,object,991839,3
mmcode,552,0.1,float64,999546,427
VehicleType,552,0.1,object,999546,5
make,552,0.1,object,999546,46
VehicleIntroDate,552,0.1,object,999546,174
NumberOfDoors,552,0.1,float64,999546,6
bodytype,552,0.1,object,999546,13
kilowatts,552,0.1,float64,999546,82
cubiccapacity,552,0.1,float64,999546,122
Cylinders,552,0.1,float64,999546,7
Model,552,0.1,object,999546,411
CapitalOutstanding,2,0.0,object,1000096,659

In [8]:
non_missing_values_table(df)

Your selected DataFrame has 52 columns.
There are 30 columns that have no missing values.

                 Column Name Data Type  Total Values  Unique Values
0        UnderwrittenCoverID     int64       1000098         116532
1                   PolicyID     int64       1000098           7000
2           TransactionMonth    object       1000098             23
3            IsVATRegistered      bool       1000098              2
4                Citizenship    object       1000098              4
5                  LegalType    object       1000098              6
6                      Title    object       1000098              5
7                   Language    object       1000098              1
8                    Country    object       1000098              1
9                   Province    object       1000098              9
10                PostalCode     int64       1000098            888
11            MainCrestaZone    object       1000098             16
12             SubCrestaZone    object       1000098             45
13                  ItemType    object       1000098              1
14          RegistrationYear     int64       1000098             25
15          AlarmImmobiliser    object       1000098              2
16            TrackingDevice    object       1000098              2
17                SumInsured   float64       1000098           2186
18             TermFrequency    object       1000098              2
19  CalculatedPremiumPerTerm   float64       1000098          19869
20            ExcessSelected    object       1000098             13
21             CoverCategory    object       1000098             28
22                 CoverType    object       1000098             22
23                CoverGroup    object       1000098             14
24                   Section    object       1000098              5
25                   Product    object       1000098              4
26            StatutoryClass    object       1000098              1
27         StatutoryRiskType    object       1000098              1
28              TotalPremium   float64       1000098          38959
29               TotalClaims   float64       1000098           1615

In [9]:
df.columns

Index(['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth',
       'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Language',
       'Bank', 'AccountType', 'MaritalStatus', 'Gender', 'Country', 'Province',
       'PostalCode', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'mmcode',
       'VehicleType', 'RegistrationYear', 'make', 'Model', 'Cylinders',
       'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors',
       'VehicleIntroDate', 'CustomValueEstimate', 'AlarmImmobiliser',
       'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff',
       'Rebuilt', 'Converted', 'CrossBorder', 'NumberOfVehiclesInFleet',
       'SumInsured', 'TermFrequency', 'CalculatedPremiumPerTerm',
       'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section',
       'Product', 'StatutoryClass', 'StatutoryRiskType', 'TotalPremium',
       'TotalClaims'],
      dtype='object')

In [10]:
df.describe()

,UnderwrittenCoverID,PolicyID,PostalCode,mmcode,RegistrationYear,Cylinders,cubiccapacity,kilowatts,NumberOfDoors,CustomValueEstimate,NumberOfVehiclesInFleet,SumInsured,CalculatedPremiumPerTerm,TotalPremium,TotalClaims
count,1.000098e+06,1.000098e+06,1.000098e+06,9.995460e+05,1.000098e+06,999546.000000,999546.000000,999546.000000,999546.000000,2.204560e+05,0.0,1.000098e+06,1.000098e+06,1.000098e+06,1.000098e+06
mean,1.048175e+05,7.956682e+03,3.020601e+03,5.487770e+07,2.010225e+03,4.046642,2466.743258,97.207919,4.019250,2.255311e+05,NaN,6.041727e+05,1.178757e+02,6.190550e+01,6.486119e+01
std,6.329371e+04,5.290039e+03,2.649854e+03,1.360381e+07,3.261391e+00,0.294020,442.800640,19.393256,0.468314,5.645157e+05,NaN,1.508332e+06,3.997017e+02,2.302845e+02,2.384075e+03
min,1.000000e+00,1.400000e+01,1.000000e+00,4.041200e+06,1.987000e+03,0.000000,0.000000,0.000000,0.000000,2.000000e+04,NaN,1.000000e-02,0.000000e+00,-7.825768e+02,-1.200241e+04
25%,5.514300e+04,4.500000e+03,8.270000e+02,6.005692e+07,2.008000e+03,4.000000,2237.000000,75.000000,4.000000,1.350000e+05,NaN,5.000000e+03,3.224800e+00,0.000000e+00,0.000000e+00
50%,9.408300e+04,7.071000e+03,2.000000e+03,6.005842e+07,2.011000e+03,4.000000,2694.000000,111.000000,4.000000,2.200000e+05,NaN,7.500000e+03,8.436900e+00,2.178333e+00,0.000000e+00
75%,1.391900e+05,1.107700e+04,4.180000e+03,6.005842e+07,2.013000e+03,4.000000,2694.000000,111.000000,4.000000,2.800000e+05,NaN,2.500000e+05,9.000000e+01,2.192982e+01,0.000000e+00
max,3.011750e+05,2.324600e+04,9.870000e+03,6.506535e+07,2.015000e+03,10.000000,12880.000000,309.000000,6.000000,2.655000e+07,NaN,1.263620e+07,7.442217e+04,6.528260e+04,3.930921e+05

In [11]:
df.describe(include=['object'])

,TransactionMonth,Citizenship,LegalType,Title,Language,Bank,AccountType,MaritalStatus,Gender,Country,Province,MainCrestaZone,SubCrestaZone,ItemType,VehicleType,make,Model,bodytype,VehicleIntroDate,AlarmImmobiliser,TrackingDevice,CapitalOutstanding,NewVehicle,WrittenOff,Rebuilt,Converted,CrossBorder,TermFrequency,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType
count,1000098,1000098,1000098,1000098,1000098,854137,959866,991839,990562,1000098,1000098,1000098,1000098,1000098,999546,999546,999546,999546,999546,1000098,1000098,1000096,846803,358197,358197,358197,698,1000098,1000098,1000098,1000098,1000098,1000098,1000098,1000098,1000098
unique,23,4,6,5,1,11,3,3,3,1,9,16,45,1,5,46,411,13,174,2,2,659,2,2,2,2,1,2,13,28,22,14,5,4,1,1
top,2015-08-01 00:00:00,,Individual,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,Transvaal (all except Pretoria),Johannesburg,Mobility - Motor,Passenger Vehicle,TOYOTA,QUANTUM 2.7 SESFIKILE 16s,B/S,4/2012,Yes,No,0,More than 6 months,No,No,No,No,Monthly,No excess,Passenger Liability,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant
freq,106747,895210,911929,933555,1000098,260811,597938,986208,940990,1000098,393865,296187,176020,1000098,933598,813280,186087,844400,287638,999861,656617,779482,845223,358165,358165,358110,698,999554,791235,104158,104183,824124,828125,915028,1000098,1000098

In [21]:
# Categorize columns based on data types
column_categories = {
    'numeric': [],
    'categorical': [],
    'datetime': [],
    'object': []
}

# Iterate over columns and categorize them
for column in df.columns:
    if pd.api.types.is_numeric_dtype(df[column]):
        column_categories['numeric'].append(column)
    elif isinstance(df[column].dtype, pd.CategoricalDtype):
        column_categories['categorical'].append(column)
    elif pd.api.types.is_datetime64_any_dtype(df[column]):
        column_categories['datetime'].append(column)
    elif pd.api.types.is_object_dtype(df[column]):
        column_categories['object'].append(column)

# Print categorized columns
for category, columns in column_categories.items():
    print(f"\n {category.capitalize()} columns: {columns} ")

 Numeric columns: ['UnderwrittenCoverID', 'PolicyID', 'IsVATRegistered', 'PostalCode', 'mmcode', 'RegistrationYear', 'Cylinders', 'cubiccapacity', 'kilowatts', 'NumberOfDoors', 'CustomValueEstimate', 'NumberOfVehiclesInFleet', 'SumInsured', 'CalculatedPremiumPerTerm', 'TotalPremium', 'TotalClaims']

 Categorical columns: []

 Datetime columns: []

 Object columns: ['TransactionMonth', 'Citizenship', 'LegalType', 'Title', 'Language', 'Bank', 'AccountType', 'MaritalStatus', 'Gender', 'Country', 'Province', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'VehicleType', 'make', 'Model', 'bodytype', 'VehicleIntroDate', 'AlarmImmobiliser', 'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff', 'Rebuilt', 'Converted', 'CrossBorder', 'TermFrequency', 'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section', 'Product', 'StatutoryClass', 'StatutoryRiskType']

In [13]:
categorical_columns = column_categories['object']
# Get the number of unique values for each categorical column
unique_counts = {col: df[col].nunique() for col in categorical_columns}

# Print the unique counts
for col, count in unique_counts.items():
    print(f"{col}: {count} unique values")

TransactionMonth: 23 unique values
Citizenship: 4 unique values
LegalType: 6 unique values
Title: 5 unique values
Language: 1 unique values
Bank: 11 unique values
AccountType: 3 unique values
MaritalStatus: 3 unique values
Gender: 3 unique values
Country: 1 unique values
Province: 9 unique values
MainCrestaZone: 16 unique values
SubCrestaZone: 45 unique values
ItemType: 1 unique values
VehicleType: 5 unique values
make: 46 unique values
Model: 411 unique values
bodytype: 13 unique values
VehicleIntroDate: 174 unique values
AlarmImmobiliser: 2 unique values
TrackingDevice: 2 unique values
CapitalOutstanding: 659 unique values
NewVehicle: 2 unique values
WrittenOff: 2 unique values
Rebuilt: 2 unique values
Converted: 2 unique values
CrossBorder: 1 unique values
TermFrequency: 2 unique values
ExcessSelected: 13 unique values
CoverCategory: 28 unique values
CoverType: 22 unique values
CoverGroup: 14 unique values
Section: 5 unique values
Product: 4 unique values
StatutoryClass: 1 unique values
StatutoryRiskType: 1 unique values

In [14]:
categorical_columns = column_categories['numeric']
# Get the number of unique values for each numeric column
unique_counts = {col: df[col].nunique() for col in categorical_columns}

# Print the unique counts
for col, count in unique_counts.items():
    print(f"{col}: {count} unique values")

UnderwrittenCoverID: 116532 unique values
PolicyID: 7000 unique values
IsVATRegistered: 2 unique values
PostalCode: 888 unique values
mmcode: 427 unique values
RegistrationYear: 25 unique values
Cylinders: 7 unique values
cubiccapacity: 122 unique values
kilowatts: 82 unique values
NumberOfDoors: 6 unique values
CustomValueEstimate: 923 unique values
NumberOfVehiclesInFleet: 0 unique values
SumInsured: 2186 unique values
CalculatedPremiumPerTerm: 19869 unique values
TotalPremium: 38959 unique values
TotalClaims: 1615 unique values

In [17]:
df['IsVATRegistered'].dtypes

dtype('bool')

In [18]:
df['kilowatts'].unique()

array([130., 230.,  75., 182., 115.,  88., 118., 162.,  55.,  82., 100.,
        80., 120., 111.,  76.,  51., 110., 108., 135.,  65.,  90., 102.,
       107.,  64., 126.,  70.,  92.,  74., 160., 200.,  71.,  81.,   0.,
        79.,  63.,  95., 147.,  77.,  67.,  91.,  73., 105., 121., 141.,
        85.,  96., 140., 125.,  60., 103., 176., 128.,  97.,  62., 116.,
        93.,  98., 165.,  78.,  84.,  66., 180., 150.,  58., 114., 104.,
        94., 132., 309.,  83.,  nan,  50.,  52., 173., 144., 153., 224.,
       228.,  47., 190.,  61.,  59.,  86.])

In [19]:
df['CrossBorder'].unique()

array([nan, 'No'], dtype=object)